.paragraph-div{
display: flex;
box-sizing: border-box;
flex-direction: column;
justify-content: center;
padding-top: 32px;
gap: 7px;
}

/*(Resolver desalinhamento entre texto do parágrafo e cards, se necessário)
.paragraph-text{
    padding: 0 2.8vw;
}*/