.contact{
    width: 100vw;
}

.contact-content{
    width: 90vw;
    max-width: 1440px;
    margin: auto;
    margin-top: 75px;
}

.forms{
    width: 50%;
}

.title-div{
    margin-bottom: 28px;
}

.small-text-div{
    margin-bottom: 40px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    max-width: 594px;
}

.line-group-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 56px;
}


