.contact{
    display: flex;
    max-width: 1920px;
    margin: auto;
    margin-top: 75px;
}

.forms{
    width: 50vw;
}

.title-div{
    padding-left: 14px;
    margin-bottom: 28px;
}

.small-text-div{
    margin-bottom: 40px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50vw;
    max-width: 594px;
    padding-left: 7vw;
}

.line-group-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 56px;
}


