.contact{
    width: 100vw;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    margin-top: 75px;
}

.title-div{
    margin-bottom: 28px;
}

.small-text-div{
    margin-bottom: 40px;
}

.contact-paragraph-mobile{
    display: none;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    max-width: 594px;
}

.line-group-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 56px;
}

.forms{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 122px;
}

.Form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input{
    height: 55px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-left: 21px;
    padding-top: 5px;
    outline: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

textarea{
    height: 173px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-left: 21px;
    padding-top: 15px;
    outline: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    resize: none;
}

.form-buttom{
    border: 0;
    width: 169.4px;
    height: 54px;
    margin-bottom: 45px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

@media (max-width: 960px){

    .forms{
        margin-left: 0px;
        width: 100%;
    }

    .Form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input{
        font-size: 12px;
        width: 100%;
        padding-left: 12px;
    }

    textarea{
        font-size: 12px;
        width: 100%;
        padding-left: 12px;
    }
    
    .contact-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .form-buttom{
        align-self: flex-start;
    }
    
    .contact-paragraph-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .title-div{
        margin-bottom: 10px;
    }

    .small-text-div{
        margin-bottom: 10px;
        height: 58px;
    }

    .contact-paragraph{
        display: none;
    }

    .contact-info{
        align-self: flex-start;
    }

}