*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
	font-family: Austral-Sans;
	src: url(./Fonts/Austral-Sans_Rough-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
