footer{
    background-color: #1D1D1B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
    width: 100vw;
}

footer p{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    padding-left: 7vw;
    font-weight: 400;
    
}

footer img{
    padding-right: 7.1vw;
}