.card-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    height: 250px;
    background: #FFFFFF;
    border: 2px solid #1D1D1B;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 30px;
}

.card-text-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 89%;
    padding: 0 20px;
}

.card-image-div{
    height: 20%;
    width: 80%;
}

.card-div .card-text-div p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1D1D1B;
}

.card-img-div img{
    width: 73.33px;
    height: 66.67px;
}

@media (max-width: 1064px) {
    .card-div .card-text-div p{
        font-size: 14px;
        line-height: 16px;
    }

    .card-image-div{
        height: 30%;
    }

    .card-text-div{
        height: 70%;
    }
}

@media (max-width: 650px) {
    .card-div{
        width: 40vw;
        height: 38vw;
        padding-top: 25px;
    }
}

@media (max-width: 528px) {
    .card-div .card-text-div p{
        font-size: 10px;
        line-height: 12px;
    }

    .card-img-div img{
        width: 60.75px;
        height: 48.94px;
    }
}

@media (max-width: 450px) {
    .card-img-div img{
        width: 43.75px;
        height: 42.94px;
    }
}

@media (max-width: 391px) {
    .card-div{
        width: 160px;
        height: 157px;
    }
}

@media (max-width: 370px) {
    .card-div{
        width: 138px;
        height: 140px;
    }

    .card-div .card-text-div p{
        font-size: 9px;
        line-height: 10px;
    }
}
