.card-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    height: 250px;
    background: #FFFFFF;
    border: 2px solid #1D1D1B;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 24px;
}

.card-text-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 89%;
    padding: 0 20px;
}

.card-image-div{
    height: 20%;
    width: 80%;
}

.card-div .card-text-div p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1D1D1B;
}

.card-text-div img{
    width: 73.33px;
    height: 50px;
}

