.participate-button{
    width: 11.8vw;
    height: 50px;
    background-color: #893E8F;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.participate-button p{
    font-family: Austral-Sans;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.Notion-Buttom{
    width: 273.39px;
    height: 73px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.Notion-Buttom p{
    font-family: Montserrat;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1D1D1B;
    
}