header{
    display: flex;
    position: sticky;
    background: #893E8F;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    top: 0;
    
    
}

header a{
    font-family: Austral-Sans;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}

.logo-nav{
    width: 26vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 246px;
}

nav{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.menu-hamburguer{
    display: none;
}

@media (max-width: 1200px){    
    nav a {
        display: none;
    }

    .participate-button{
        display: none;
    }

    header{
        height: 56px;
    }

    .logo-nav img{
        width: 144px;
        height: 32px;
    }

    .logo-nav{
        width: 144px;
    }

    .show-open{
        display: flex;
    }
}