.footer-div{
    width: 100vw;
    background: #1D1D1B;
    
}

.notion-footer-content{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 138px;
    gap: 40px;
    width: 90vw;
    margin: auto;
    max-width: 1440px;
}

.footer-div h1{
    font-family: Austral-Sans;
    font-size: 28px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 1050px) {
    .notion-footer-content{
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
    }

    .footer-div h1{
        font-size: 25px;
        line-height: 17px;
    }
}

@media (max-width: 618px) {
    .footer-div h1{
        font-size: 20px;
        line-height: 17px;
    }
}

@media (max-width: 493px) {
    .footer-div h1{
        font-size: 16px;
        line-height: 17px;
    }
    .notion-footer-content{
        height: 90px;
    }
}

@media (max-width: 395px) {
    .footer-div h1{
        font-size: 12px;
        line-height: 17px;
    }
}