.card-father-div{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 122px;
    gap: 32px;
    width: 100vw;
    max-width: 1700px;
    margin: auto;
}