.card-father-div{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    gap: 32px;
    width: 100%;
}

@media (max-width: 940px) {
    .card-father-div{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .card-father-div{
        gap: 19px;
    }
}

@media (max-width: 413px) {
    .card-father-div{
        gap: 10px;
    }
}