.purple-text{
    color: #FFFFFF;
    white-space: nowrap;
   
}

.yellow-text{
    color:#FFA500;
    padding-right: 150px;
}

.yellow-text, .purple-text{
    font-family: Austral-Sans;
    font-size: 48px;
    font-weight: 400;
}

.banner-title{
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: .5vh;

}

@media (max-width: 1300px){
    .yellow-text{
        padding-right: 100px;
    }
}

@media (max-width: 1100px){
    .yellow-text{
        padding-right: 20px;
    }
}

@media (max-width: 920px){
    .yellow-text{
        padding-right: 200px;
    }
}

@media (max-width: 730px){
    .yellow-text{
        padding-right: 0;
    }
}


