.small-text-div p{
    font-family: Montserrat;
    font-size: 20px;
    color: #000000;
    text-align: left;
}

@media (max-width: 960px){
    .small-text-div p{
        text-align: center;
    }
}

@media (max-width: 600px) {
    .small-text-div p{
        font-size: 14px;
    }
}