.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    width: 90vw;
    box-sizing: border-box;
    height: 576px;
    
}

.banner img{
    width: 487px;
    height: 433px;
}

.logo-banner{
    padding-bottom: 50px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .logo-banner{
        display: none;
    }
}