.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90vw;
    box-sizing: border-box;
    height: 576px;
    background: #893E8F;
    max-width: 1440px;
    margin: auto;
}

.banner-view{
    width: 100vw;
    background: #893E8F;
}

.banner img{
    width: 571px;
    height: 421px;
}

.logo-banner{
    padding-bottom: 50px;
    box-sizing: border-box;
    /* padding-left: 5%; */
}

@media (max-width: 1400px){
    .banner img{
        width: 480px;
        height: auto;
    }
    .purple-text, .yellow-text{
        font-size: 40px;
    }
}

@media (max-width: 1200px){
    .banner img{
        width: 350px;
        height: auto;
    }
    .purple-text, .yellow-text{
        font-size: 30px;
        line-height: 30.8px;
    }

    .banner-title{
        row-gap: 10px;
        padding-bottom: 15px;
    }
}

@media (max-width: 850px){
    .banner img{
        width: 225px;
        height: 163px;
    }
    .purple-text, .yellow-text{
        font-size: 32px;
        line-height: 36.8px;
        flex-wrap: wrap;
        white-space: normal;
    }

    .banner{
        flex-direction: column-reverse;
        height: 532px;
        justify-content: center;
        row-gap: 29px;
        max-width: 337px;
    }

    .logo-banner{
        padding: 0;
        margin-left: auto;
    }

    .banner-title-and-button{
        margin-right: auto;
        width: 90%;
    }

    .participate-button{
        width: 148px;
    }

    .banner-title{
        padding-bottom: 23px;
        row-gap: 0;
    }
}